
BODY {
}

.header {
    background: #000000;
}



.navbar {
    max-width: 1140px;
    max-height: 30px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    .navbar ul {
        display: flex;
        list-style: none;
    }

    .navbar li {
        margin-left: 2rem;
        color: white;
    }

    .navbar a {
        color: white;
    }



.main {
    /*background: #b6ff00;*/
}

.content {
    max-width: 1140px;
    min-height: 200px;
    margin: 30px;
}

    .content h3 {
        margin: 5px;
        text-decoration: underline;
    }

    .content p {
        margin: 5px;
    }

.fotter {
    background-color: #000000;
}


.devil {
    margin-left: 40px;
    margin: 10px 30px;
    /* background-color: #ffd800;*/
    display: flex;
}

.fotter a {
    margin-top: 10px;
    color: white;
}

.devil ul {
    display: ruby-text;
    list-style: none;
    color: white;
}

.devil p {
    display: ruby-text;
    list-style: none;
    color: white;
}

.devi ul {
    display: ruby-text;
    list-style: none;
    color: white;
}

.devi p {
    display: ruby-text;
    list-style: none;
    color: white;
}

.devi {
    margin-left: 30px;
    /* background-color: #ffd800;*/
    display: flex;
}
